# Exploring DREAM3 dataset

https://github.com/s-nakhawa/DREAM3-Gene-Expression-Prediction-Challenge

https://dreamchallenges.org/dream-3-gene-expression-prediction/

In [1]:
# this makes sure it starts looking for things from the project folder down.
import os
import sys
os.chdir('../')
sys.path.insert(0,os.getcwd())
print(os.getcwd())

C:\Users\rrtuc\Desktop\backed-up\python-projects\gene_causal_mapper

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/DREAM3_GeneExpressionChallenge_ExpressionData_UPDATED.txt', sep='\t')

In [4]:
print(df.shape)
df.head()

(9335, 35)

,ProbeID,geneName,"absolute expression, parental strain t=0 (arbitrary units)",wt t=0,wt t=10,wt t=20,wt t=30,wt t=45,wt t=60,wt t=90,...,gcn4-deletion t=90,gcn4-deletion t=120,leu3-deletion t=0,leu3-deletion t=10,leu3-deletion t=20,leu3-deletion t=30,leu3-deletion t=45,leu3-deletion t=60,leu3-deletion t=90,leu3-deletion t=120
0,10000_at,NaN,0.194,0,0.080088,-0.021480,-0.207893,0.070967,-0.066261,-0.063503,...,0.081614,-0.079975,-0.185232,-0.205393,-0.071763,-0.060739,0.000000,0.042457,-0.146655,-0.246104
1,10001_at,MID2,1.480,0,-0.466758,-0.376290,-0.619178,-0.199123,-0.107018,-0.142740,...,0.302226,-0.147958,-0.149259,-0.382944,0.182786,-0.007196,0.020340,-0.052416,0.074001,0.187707
2,10002_i_at,NaN,13.960,0,-0.312665,-0.146655,-0.640621,-0.097611,-0.200379,-0.304511,...,-0.478195,-0.610700,-0.385155,-0.590722,-0.319618,-0.109695,-0.468844,-0.442545,-0.284514,-0.356144
3,10003_f_at,RPS25B,132.600,0,-0.182692,-0.105678,-0.447844,-0.119024,-0.167358,-0.244887,...,-0.302173,-0.473008,-0.284514,-0.492622,-0.358396,-0.404903,-0.499782,-0.343692,-0.263034,-0.376290
4,10004_at,NaN,0.148,0,0.164884,0.182786,0.186065,0.103147,0.129734,0.107803,...,0.112475,0.349235,0.036526,0.013043,-0.005759,0.057392,0.052895,0.163268,-0.024320,-0.064883

In [5]:
df_gold = pd.read_csv('data/DREAM3GoldStandard_ExpressionChallenge.txt', sep='\t')

In [6]:
print(df_gold.shape)
df_gold.head()

(50, 10)

,probeID,gene_name,rank_time0,rank_time10,rank_time20,rank_time30,rank_time45,rank_time60,rank_time90,rank_time120
0,5646_at,ALD5,32,24,40,33,32,32,38,34
1,8593_at,ARG1,9,19,16,27,46,44,26,28
2,11114_at,ARG3,3,10,26,42,47,41,22,33
3,4537_at,ARG4,19,17,22,40,44,46,31,35
4,4568_at,ARN1,20,27,24,14,12,11,10,16